/* Styling for the OfferingPage component */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  background-color: #f9f9f9;
}

.titles {
  font-weight: bold;
}

.psalms {
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.buttonDiv {
  text-align: center;
}

.btn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the submit button on hover */
.btn:hover {
  background-color: #45a049;
}

